input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  height: 6px;
  background: linear-gradient(
    to right,
    var(--themeColor2) var(--inputRange),
    #fff var(--inputRange)
  ); /* Otherwise white in Chrome */
  margin-bottom: 5px;
  border-radius: var(--standartBorderRadius);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  display: block;
  border-radius: 15px;
  cursor: pointer;
  background: var(--themeColor);
  transition: 0.3s;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.bg {
  background: linear-gradient(-135deg, var(--themeColor2), var(--themeColor4));

  width: 100%;
  height: 100vh;
  top: 100%;
  left: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.auroraWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.auroraCircle {
  width: 50%;
  height: 50vh;
  position: absolute;
  display: block;
  background: var(--themeColor);
  border-radius: 50%;
  z-index: -1;
  filter: blur(200px);
  transition: 0.2s;
}

.auroraCircle:nth-child(1) {
  left: 20%;
  top: 0%;
  background: var(--themeColor);
}

.auroraCircle:nth-child(2) {
  right: -20%;
  bottom: 20%;
  transform: rotate(90deg);
  background: var(--themeColor2);
}

.auroraCircle:nth-child(3) {
  left: -10%;
  bottom: 0;
  background: var(--themeColor4);
}

.closeFullScreen {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.closeFullScreen svg {
  width: 50px;
  height: 50px;
  color: #fff;
}

.FullScreenPlayer {
  width: 100%;
  display: flex;
  padding: 50px 0;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  /* backdrop-filter: blur(200px); */
  color: #fff;
  overflow: hidden;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: 0.3s;
  width: 55%;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.playerUpperSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameAndAuthors {
  text-align: center;
}

.leftSide .songCover {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: var(--standartBorderRadius);
  box-shadow: 0 0 50px var(--themeColorTransparent);
  margin-bottom: 10px;
}

.leftSide img {
  width: 100%;
}

.leftSide h2 {
  margin: 2px 0;
  color: var(--themeColor);
  max-width: 300px;
  overflow: hidden;
}

.leftSide h3 {
  color: var(--themeColor);
  opacity: 0.5;
  margin: 0px 0;
  max-width: 300px;
  overflow: hidden;
}

.leftSide h3 a {
  color: var(--themeColor);
}

.controlPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.controlPanel input {
  width: 100%;
}

.startAndEndTime {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.btns button {
  width: 80px;
  height: 80px;
  background: transparent;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.btns .basic-buttons {
  display: flex;
}

.btns button svg {
  color: #fff;
  width: 27px;
  height: 27px;
}

.btns .shuffleBtn,
.btns .repeatBtn {
  width: 45px;
  height: auto;
  border-radius: 100px;
}

.repeatBtn {
  position: relative;
}

.repeatBtn span {
  width: 7px;
  height: 7px;
  display: block;
  background: var(--themeColor);
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 10px;
  opacity: 0;
}

.btns .shuffleBtn svg,
.btns .repeatBtn svg {
  width: 23px;
  height: 23px;
}

.lyricsBlock {
  width: 500px;
  transition: 0.3s;
  position: relative;
}

.lyricsBlock.notVisible {
  visibility: hidden;
}

.lyricsBlockInput {
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addLyricsElementBtns {
  display: flex;
  flex-direction: column;
  border-radius: var(--standartBorderRadius3);
  overflow: hidden;
}

.addLyricsElementBtns button {
  background: var(--transparentWhite);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}

.addLyricsElementBtns button:hover {
  filter: brightness(0.8);
}

.lyricsBlockInput input {
  padding: 10px;
  width: 50px;
  outline: none;
  border-radius: var(--standartBorderRadius2);
  border: none;
  margin: 0 5px;
}

.lyricsBlockInput svg {
  border-radius: var(--standartBorderRadius0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.lyricsBlock p {
  transition: 0.4s transform, 0.4s opacity, 0.2s background;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  white-space: initial;
  user-select: none;
}

.lyricsBlock:active {
  transform: scale(0.98);
}

.lyricsBlock:last-child {
  margin-bottom: 50%;
}

.updateLyricsBtn {
  position: relative;
  padding: 13px 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: var(--themeColor2);
  color: #fff;
  font-weight: bold;
  border-radius: var(--standartBorderRadius);
}

.Loading {
  width: 100%;
  cursor: pointer;
  padding: 20px 10px;
  transition: 0.2s;
  border-radius: 10px;
}

.outer {
  width: 100px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.493);
  overflow: hidden;
  height: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
}

.inner {
  background: #fff;
  height: 100%;
  border-radius: 7px;
  transition: 0.6s;
  min-width: 10px;
}

.lyricsAuthors {
  padding: 10px;
  width: 500px;
  transform: translateX(10px);
}

.lyricsAuthors a {
  color: #fff;
}

.lyricsAuthors::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(45deg, var(--themeColor2), var(--themeColor));
  background-size: 400% 400%;
  opacity: 0;
  animation: gradientMove 4s linear infinite;
  transition: 0.4s;
  border-radius: 10px;
}

.lyricsAuthors.active::before {
  opacity: 1;
  height: 100%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 30px var(--themeColor2);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 30px var(--themeColor);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 30px var(--themeColor2);
  }
}

.ColorCircles {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.ColorCircles span:hover {
  opacity: 0;
}

.ColorCircles span {
  width: 60px;
  height: 60px;
  display: block;
  z-index: 1;
  background: var(--themeColor2);
  position: absolute;
  border-radius: 100%;
  transition: 0.2s background;
}

.ColorCircles span:nth-child(1) {
  animation: rotation 15s infinite linear;
}
.ColorCircles span:nth-child(2) {
  animation: rotation 15s infinite linear;
  opacity: 0.5;
  width: 70px;
}

.ColorCircles span:nth-child(3) {
  animation: rotation 15s infinite linear;
  opacity: 0.5;
  box-shadow: 0 0 30px var(--themeColor2);
  height: 72px;
}

.ColorCircles span:nth-child(4) {
  animation: rotation 15s infinite linear;
  opacity: 0.5;
  width: 76px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  33.3% {
    transform: rotate(119.88deg);
  }
  50% {
    transform: rotate(180deg);
  }
  66.6% {
    transform: rotate(239.76deg);
  }
  83.3% {
    transform: rotate(299.88deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menuBtn {
  position: absolute;
  left: 0;
  top: 0px;
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  transition: 0.2s;
}

.menuBtn svg {
  width: 35px;
  height: 35px;
  color: #fff;
}

.showHoverTime {
  position: absolute;
  background: var(--themeColor);
  top: -30px;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 10px;
}

@keyframes outSideText {
  0% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.rightSideWrapper {
  font-size: 1.4em;
  width: 50%;
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
}

.rightSide {
  width: 100%;
  padding: 0 20px;
  overflow-y: scroll;
  height: 85vh;
  overflow-x: hidden;
  scroll-padding-top: 20%;
  border-radius: 15px;
  margin: 0 12px;
}

.rightSideControl {
  padding: 3px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 15px;
}

.controlIcon {
  border-radius: 13px;
  transition: 0.2s background;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSideControl svg {
  width: 20px;
  transition: 0.2s color;
  height: 20px;
  margin: 15px;
}

.SongItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 13px;
  margin: 5px 0;
  cursor: pointer;
  padding: 3px;
  font-size: 1.3em;
  position: relative;
}

.SongItem.inList {
  background: var(--lightBlue);
}

.songItemMenuWindow {
  position: absolute;
  right: 0px;
  width: 200px;
  padding: 2.5px 5px;
  box-sizing: border-box;
  background: var(--playlistsColor);
  visibility: visible;
  z-index: 10;
  border-radius: var(--standartBorderRadius);
  display: flex;
  flex-direction: column;
  animation: openSongMoreMenu 0.2s forwards;
}

.songItemNameAndAuthor {
  white-space: nowrap;
}

.SongItemMobileMoreWindow,
.AuthorMoreWindow {
  font-size: 1.3em;
}

.simpleSongElement {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background: var(--playlistsColor);
  box-sizing: border-box;
  border-radius: var(--standartBorderRadius2);
  font-size: 0.8em;
}

.simpleSongElement .simpleSongElementImage {
  width: 30px;
  height: 30px;
  border-radius: var(--standartBorderRadius3);
  overflow: hidden;
  margin-right: 7px;
}

.simpleSongElement .simpleSongElementImage img {
  width: 100%;
}

.songItemMenuWindow.inner {
  left: calc(-100% - 10px);
  top: 0;
  display: none;
}

.songItemMenuWindowItemImgWrapper {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 5px;
  overflow: hidden;
}

.songItemMenuWindowItemImgWrapper img {
  width: 100%;
}

.songItemMenuWindowItem {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: var(--standartBorderRadius2);
  margin: 2.5px 0;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  animation: fadeIn 0.4s forwards;
  position: relative;
}

.newSongMarker {
  background: linear-gradient(45deg, #f857a6, #ff5858);
  border-radius: 10px;
  color: #fff;
  opacity: 1;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes openSongMoreMenu {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.songItemMenuWindowItem span {
  display: flex;
  align-items: center;
}

.songItemMenuWindowItem svg {
  margin-right: 7px;
  min-width: 17px;
  min-height: 17px;
}

.songItemImageAndName {
  display: flex;
  align-items: center;
}

.songItemMoreBtn {
  opacity: 0;
  display: flex;
  align-items: center;
}

.songItemMoreBtn button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--standartBorderRadius2);
  background: transparent;
  color: #fff;
}

.songItemMoreBtn button svg {
  width: 20px;
  height: 20px;
}

.rightSide .SongItem {
  font-size: 1em;
}

.SongItem.playingNow {
  background: rgba(255, 255, 255, 0.514);
}

.SongItem .songItemImage {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
  position: relative;
  background: rgba(255, 255, 255, 0.329);
}

.SongItem .songItemImage img {
  width: 100%;
}

.songItemName {
  font-size: 0.8em;
  font-weight: 600;
}

.songItemAuthor {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.685);
  text-overflow: ellipsis;
  max-width: 225px;
  overflow: hidden;
  white-space: nowrap;
}

.songItemAuthor a {
  color: rgba(255, 255, 255, 0.685);
}

.playingAnimation {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.575);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 7px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}

.playingAnimation svg {
  z-index: 2;
}

.playingAnimation span {
  width: 28px;
  height: 28px;
}

.playingAnimation span:first-child {
  background: var(--themeColor2);
}

.playingAnimation span:nth-child(2) {
  animation-delay: 0.2s;
  width: 37px;
}
.playingAnimation span:nth-child(3) {
  animation-delay: 0.5s;
  height: 34px;
}

.playingAnimation span:nth-child(4) {
  animation-delay: 0.5s;
  height: 40px;
  width: 40px;
}

@keyframes playing {
  0% {
    transform: scaleY(0.7);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.7);
  }
}

.songItemPlayOrPause {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.1s;
  background: rgba(0, 0, 0, 0.459);
  z-index: 2;
}

.Options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

.OptionItem {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  margin-left: 30%;
}

.OptionItem span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.OptionItem svg {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.Queue,
.Options,
.Share,
.Lyrics,
.rightSideAuthorsList,
.rightSide .SongInfo,
.mobilePlayerMenuContent .SongInfo {
  animation: zoomIn 0.2s forwards;
}

.Lyrics .Slider {
  font-size: 0.76em;
  background: var(--transparentWhite);
}

.Lyrics .Slider .sliderItem.current {
  background: var(--themeColor3);
}

.Queue .queueNowIsPlaying {
  position: relative;
}

.Queue .queueNowIsPlaying::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--transparentWhite);
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}

.Queue .queueNowIsPlaying .queueImage {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: var(--standartBorderRadius2);
  margin-right: 7px;
}

.Queue .queueNowIsPlaying .queueImage img {
  width: 100%;
}

.Queue .queueNowIsPlaying h5 {
  display: flex;
  align-items: center;
}

.Queue .queueNowIsPlaying h5 a span {
  margin-right: 8px;
}

.Queue .queueNowIsPlaying h5 a {
  padding: 4px;
  color: #fff;
  background: var(--transparentWhite);
  border-radius: var(--standartBorderRadius);
}

.Queue .queueNowIsPlaying .queueAlbumName {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.98);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Share .FriendsToShareWith {
  width: 100%;
}

.Share .FriendsToShareWith h2 {
  margin-top: 5px;
  font-size: 1em;
  text-align: center;
}

.Share .FriendsToShareWith .person:hover {
  background: var(--transparentWhite);
}

.Share .FriendsToShareWith input {
  background: var(--transparentWhite);
  color: #fff;
}

.Share .FriendsToShareWith input::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.Share .shareCopyLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.Share .shareOnSocial,
.Share .shareCopyLink,
.Share .sharePeopleShort,
.Share .shareSearch,
.shareBtn {
  width: 100%;
  max-width: 360px;
  min-height: 50px;
  border-radius: 12px;
  background: var(--transparentWhite);
  color: #fff;
  margin: 8px 0;
}

.Share .shareCopyLink svg {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.Share .shareOnSocial {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.shareSocialIcon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  cursor: pointer;
}

.sharePeopleShort {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5px;
  transition: 0.2s;
  padding: 10px;
}

.shareFriendItem {
  overflow: hidden;
  padding: 4px;
  box-sizing: border-box;
  width: calc(50% - 5px);
  background: rgba(255, 255, 255, 0.425);
  margin: 2.5px;
  border-radius: 10px;
  display: flex;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.friendItemImage {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareFriendItem img {
  width: 100%;
}

.Share .shareSearch {
  position: relative;
}

.shareSearch input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background: transparent;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
}

.Share .shareSearch input::placeholder {
  color: rgba(255, 255, 255, 0.352);
}

.Share .shareSearch svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  opacity: 0.6;
}

.shareBtn {
  background: var(--themeColor2);
  font-weight: bold;
  margin-bottom: 0;
}

.isInShareList {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.726);
  opacity: 0;
}

.isInShareList svg {
  color: var(--themeColor);
}

.SmallImages {
  display: flex;
  width: fit-content;
  margin-right: 8px;
}

.smallImgContainer {
  height: 25px;
  width: 25px;
  margin: 2px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #fff;
}

.SmallImages img {
  width: 100%;
  transform: scale(1.2);
}

.rightSideAuthorsList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightSideAuthorsListCentralBlock {
  min-width: 40%;
  max-width: 70%;
}

.rightSideAuthorsList .person {
  margin: 15px 0;
}

.rightSideAuthorsList .person:hover {
  background: var(--transparentWhite);
}

.rightSide .SongInfo,
.mobilePlayerMenuContent .SongInfo {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.rightSide .SongInfo .songInfoContent {
  height: fit-content;
}

.rightSide .AddToPlaylists {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .closeFullScreen {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobilePlayerMenu {
    width: 100%;
    position: absolute;
    top: calc(100% - 55px);
    z-index: 20;
    border-radius: var(--standartBorderRadius) var(--standartBorderRadius) 0 0;
    background: var(--themeColor4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: .2s top ; */
  }

  .controlIconsWrapper {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .mobilePlayerMenuClose {
    height: 15px;
    width: 100%;
    position: relative;
  }

  .mobilePlayerMenuClose svg {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }

  .controlIcon {
    height: 100%;
    width: 100%;
    font-weight: 600;
    opacity: 0.8;
    border-radius: var(--standartBorderRadius2);
  }

  .controlIcon svg {
    width: 20px;
    height: 20px;
  }

  .mobilePlayerMenuContent {
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 15px;
    box-sizing: border-box;
    scroll-padding-top: 100px;
    transition: 0.15s opacity;
  }

  .OptionItem {
    margin-left: 24%;
  }

  .lyricsBlock {
    width: 100%;
  }

  .Loading {
    width: auto;
  }

  .lyricsAuthors {
    padding: 10px;
    transform: translate(0);
    width: 100%;
    box-sizing: border-box;
  }

  .songItemMoreBtn {
    opacity: 1;
  }

  .auroraWrapper {
    display: none;
  }

  .rightSide .SongInfo,
  .mobilePlayerMenuContent .SongInfo .songImage {
    width: 70%;
    padding-top: 70%;
  }
}
