.LeftsideBar{
	width: 230px;
	height: 100vh;
	background: var(--leftSideBarColor);
	box-sizing: border-box;
	padding: 10px;
}

.LeftsideBar>*{
	margin: 9px 0;
	text-decoration: none;
}

.leftSideBarContainer{
	width: 100%;
	border-radius: var(--standartBorderRadius);
	background: var(--navItemColor);
	color:#fff;
	font-weight: bold;
	min-height: 50px;
	padding: .4px 5px;
	box-sizing: border-box;
}

.person{
	box-sizing: border-box;
	padding: 5px 10px;
	border-radius: var(--standartBorderRadius2);
	margin: 5px 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.FriendsListToShareWith .person svg{
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.leftSideBarContainer a {
	text-decoration: none;
}

.person:hover{
	background: rgb(85, 85, 85);
}

.person:hover .personBtns{
	opacity: 1;
	background: rgb(85, 85, 85);
}

.personBtns{
	position: absolute;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-around;
	z-index: 10;
	opacity: 0;
	right: 10px;
	width: calc(100% - 60px);
	border-radius: var(--standartBorderRadius2);
}

.personBtns button{
	background: rgba(216, 216, 216, 0);
	height: 30px;
	width: 40px;
	display: flex;
	align-items: center;	
	justify-content: center;
	color:rgb(255, 255, 255);
	border-radius: var(--standartBorderRadius2);
	z-index: 10;
}


.personBtns button:hover{
	background: var(--transparentWhite);
}

.LeftsideBar .logo{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color:#fff;
}

.LeftsideBar .logo img{
	width: 35px;
	height: 35px;
}

.pesronImg{
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 30px;
	margin-right: 7px;
}

.pesronImg img{
	width: 100%;
}

.NavigationPanel{
	border-radius: var(--standartBorderRadius);
	background: var(--navItemColor);
	box-sizing: border-box;
	padding: 5px 5px;
}

.NavigationPanel a{
	text-decoration: none;
	color:rgb(255, 255, 255);
	
}

.NavigationItem{
	margin: 0px;
	height: 40px;
	display: flex;
	padding: 0px 10px;
	border-radius: var(--standartBorderRadius2);
	align-items: center;
}

.NavigationItem.active{
	background: var(--blue);
}

.NavigationItem h3{
	margin: 0;
}

.NavigationItem .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
}

.NavigationItem svg{
	width: 22px;
	height: 22px;
}

.seeMoreBtn{
	cursor: pointer;
	text-align:center;
	margin:5px 0; 
	padding: 5px 10px;
	color:var(--lightBlue);
}

.seeMoreBtn:hover{
	background: var(--transparentWhite);
	border-radius: 10px;
	color:var(--reallyLightBlue);
}



/* Left side bar little player */

.littlePlayer{
	padding: 8px 10px;
	margin: 5px 0;
	border-radius: var(--standartBorderRadius2);
	position: relative;
}

.littlePlayer:hover{
	background: var(--leftSideBarColor);
}

.imgTitleAndAuthor{
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.littlePlayer .player .playerUpperSide{
	flex-direction: row;
	align-items: flex-start;
	justify-content: start;
	width: 100%;
}

.littlePlayer .player h2{
	font-size: .9em;
	color: var(--themeColor);
	margin: 0;
}

.littlePlayer .nameAndAuthors{
	text-align: left;
	min-width: calc(100% - 40px);
}
.littlePlayer .player h3{
	font-size: 0.7em;
	font-weight: 600;
	color: var(--themeColor2);
	white-space: nowrap;
	margin: 0;
}

.littlePlayer .player h3 a{
	color:#fff;
	color: var(--themeColor2);
}

.littlePlayer .songCover{
	min-width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: var(--standartBorderRadius3);
	margin-right: 7px;
}

.littlePlayer .songCover img{
	width: 100%;
}

.littlePlayer .controlPanel input[type=range] {
	height: 4px;
	background: linear-gradient(to right, var(--themeColor2) var(--inputRange), #fff var(--inputRange));
	margin-bottom: 5px;
	padding: 0;
}

.littlePlayer .controlPanel input[type=range]::-webkit-slider-thumb {
	height: 10px;
	width: 10px;
}

.littlePlayer .controlPanel .startAndEndTime{
	font-size:.7em;
	flex-basis: 500;
	margin-bottom: 0;
}

.littlePlayer .controlPanel .btns{
	margin: 5px 0;
}

.littlePlayer .controlPanel .btns button{
	height: 40px;
}

.littlePlayer .controlPanel .btns button svg{
	width: 23px;
	height: 23px;
}

.littlePlayer .controlPanel .btns .repeatBtn, .littlePlayer .controlPanel .btns .shuffleBtn{
	width: 30px;
	height: 30px;
}

.littlePlayer .controlPanel .btns .repeatBtn svg, .littlePlayer .controlPanel .btns .shuffleBtn svg{
	width: 25px;
	height: 25px;
}

.littlePlayer .controlPanel .btns .repeatBtn span{
	width: 5px;
	height: 5px;
	left: 8px;
	top: 9px;
}

.littlePlayer .ColorCircles span{
	width: 45px;
	height: 45px;
}

.littlePlayer:hover .fullScreenBtn{
	opacity: 1;
	background: var(--leftSideBarColor);
}

.fullScreenBtn{
	position: absolute;
	top: 10px;
	right: 10px;
	transition: .1s opacity;
	opacity: 0;
	background: var(--navItemColor);
	cursor: pointer;
}

.fullScreenBtn svg{
	width: 30px;
	height: 30px;
}

.fullScreenBtn:hover{
	color: var(--themeColor2);
}