.SettingsList .SettingItem{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-radius: var(--standartBorderRadius2);
	margin: 5px 0;
	width: 100%;
	background: transparent;
	font-size: 1.1em;
}

.SettingsList .SettingItem:hover{
	background: var(--reallyTransparentWhite);
}

.settingItemIconAndTitle{
	display:flex;
	align-items:center;
}

.settingItemIconAndTitle svg{
	margin-right: 5px;
}

.SettingsList .SettingItem h3{
	margin: 0;
}