.HomePage .artistsWrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.HomePage .artistsWrapper .AuthorItemBig {
  margin-bottom: 0;
  height: fit-content;
}
.HomePage .artistsWrapper .AuthorItemBig:last-child {
  margin-right: 0;
}

.MainBanner {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s background;
  animation: zoomIn 0.5s forwards;
  opacity: 0;
}

.HomePage .BlurredBg {
  z-index: -1;
}

.HomePage .BlurredBg .circle {
  background: rgba(255, 255, 255, 0.178);
}

.HomePage .BlurredBg .circle.circle2 {
  width: 160px;
  height: 160px;
}

.MainBanner .mainBannerImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainBanner .mainBannerImage img {
  width: 100%;
}

.MainBanner .slider {
  display: flex;
  max-width: 400px;
  overflow: hidden;
}

.MainBanner .slider .sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 400px;
  transition: 0.35s;
  opacity: 0;
}

.MainBanner .slider .sliderItem.current {
  opacity: 1;
  filter: blur(0px);
}

.MainBanner .slider .sliderItem:last-child {
  margin-right: 0;
}

.MainBanner .slider .sliderItem .AuthorItemBig {
  margin: 0;
}

.MainBanner .slider .sliderItem a h4,
h5 {
  margin: 3px 0;
  text-align: left;
}

.MainBanner .sliderBtns {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}

.MainBanner .sliderBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: var(--transparentWhite);
  color: #fff;
}

.MainBanner .sliderBtns button svg {
  width: 26px;
  height: 26px;
}
