*{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
  color:#fff;
}

@media (min-width:1001px) {
  a:hover{
    text-decoration: underline;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }

  input[type=range]::-webkit-slider-thumb:hover{
    filter:brightness(1.2);
  }

  .btns .shuffleBtn:hover, .btns .repeatBtn:hover{
    background: var(--transparentWhite);
  }

  .lyricsBlock p:hover{
    background: rgba(255, 255, 255, 0.411);
  }

  .Loading:hover{
    background: rgba(255, 255, 255, 0.411);
  }

  .controlIcon:hover{
    background: rgba(255, 255, 255, 0.432);
  }

  .SongItem.inList:hover{
    background: var(--blue);
  }

  .songItemMenuWindowItem:hover .songItemMenuWindow.inner{
    display: flex;
  }

  .songItemMenuWindowItem:hover{
    background: var(--transparentWhite);
  }

  .SongItem:hover{
    background: rgba(255, 255, 255, 0.342);
  }

  .SongItem:hover .songItemMoreBtn{
    opacity: 1;
  }

  .SongItem:hover .songItemPlayOrPause{
    opacity: 1;
  }

  .OptionItem:hover{
    background: var(--transparentWhite);
  }

  .shareSocialIcon:hover{
    background: rgba(255, 255, 255, 0.432);
  }

  .shareBtn:hover{
    filter: brightness(.9);
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
   
    background: rgba(255, 255, 255, 0.555);
    border-radius: 10px;
  }
}



:root{
  --themeColor:rgb(58, 94, 255);
  --themeColor2:rgb(65, 141, 255);
  --pink:#cf6b99;
  --red:#f4546a;
  --purple:#ae67ef;
  --green:#69e985;
  --darkGreen:#3debd3;
  --blue:rgb(71, 102, 243);
  --lightBlue:rgb(105, 131, 248);
  --reallyLightBlue:#94a8ff;
  --lightGrey:#3d3d3d;
  --leftSideBarColor:rgb(39, 39, 39);
  --navItemColor:rgb(53, 53, 53);
  --playlistsColor:rgb(31, 31, 31);
  --chatsColor:rgb(44, 44, 44);
  --standartBorderRadius0:35px; 
  --standartBorderRadius:15px; 
  --standartBorderRadius2:11px; 
  --standartBorderRadius3:7px; 
  --pinkAndPurpleGrad:linear-gradient(120deg, #d87ce2 0%, #c73e51 100%);
  --purpleAndBlueGrad:linear-gradient(120deg, #4A00E0 0%, #8E2DE2 100%);
  --yellowAndPinkGrad:linear-gradient(135deg, #fbb361 0%, #ff5a91 100%);
  --inputRange:100%;
  --themeColorTransparent:rgba(65, 141, 255, 0.37);
  --transparentWhite:rgba(255, 255, 255, 0.336);
}

button{
  outline: none;
  border:none;
  cursor: pointer;
  transition: .2s transform;
}

button:active{
  transform: scale(.95);
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.Wrapper{
  display: flex;
  min-width: 100%;
  background: var(--navItemColor);
}

.Content{
  padding:30px;
	box-sizing: border-box;
	width: 100%;
	max-height: 100vh;
	height: 100vh;
	overflow-y: auto;
  color:#fff;
  z-index: 0;
  position: relative;
}

.modal_darkBg{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex; 
	align-items: center;
	justify-content: center;  
	background: rgba(0, 0, 0, 0.589);
	z-index: 10;
	transition: .2s;
 }
 
 .ModalWindow{
	padding: 20px;
	box-sizing: border-box;
	width: 60%;
  max-height: 70vh;
  overflow-y: scroll;
	max-width: 500px;
	border-radius: var(--standartBorderRadius);
	background: var(--leftSideBarColor);
	color:#fff;
  position: relative;
  overflow-x: hidden;
 }

 .FriendsListToShareWith .successMessageSent{
   position: absolute;
   top: 0; 
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background: var(--pinkAndPurpleGrad);
   z-index: 10;
   font-weight: bold;
   font-size: 1.2em;
 }

 .FriendsListToShareWith .successMessageSent svg{
   width: 30px;
   height: 30px;
   margin-right: 5px;
 }

 .SongInfo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .SongInfo .songImage{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--standartBorderRadius0);
 }

 .SongInfo .songImage img{
   width: 100%;
 }

@media (max-width:1000px) {
  .Wrapper{
    flex-direction: column-reverse;
  }

  .Content{
    padding: 10px;
    height: calc(100vh - 99px);
    font-size: .85em;
  }

  .FullScreenPlayer{
    flex-direction: column;
  }

  .rightSideControl{
    flex-direction: row;
  }

  .FullScreenPlayer .leftSide .songCover{
    margin-bottom: 30px;
  }

  input[type=range]{
    height: 4px;
  }

  .modal_darkBg{
    align-items: flex-end;
    justify-content: flex-start;
  }

  .ModalWindow{
    width: 100%;
    min-height: 70vh;
    max-width: none;
    border-radius: var(--standartBorderRadius2) var(--standartBorderRadius2) 0 0;
  }

  .FriendsListToShareWith{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

}
